<%- include("partials/header"); -%>
<h1><%= title %></h1>
<p><%= content%></p>

<form class="modify" action="/" method="post">
  <button name="edit">Edit Blog</button>
  <button name="delete">Delete Blog</button>
</form>


<%- include("partials/footer"); -%>
