

#navbar{
    background-color: rosybrown;
    margin: 0;
    top: 0;
    width: 100%;
    height: 30px;   
    text-align: center;
    display: flex;
    justify-content: space-evenly;

}

#buttonBG:hover {
    background-color: #865785; 
    color: white;
  }

#buttonSubmit{
    background-color: rosybrown;
}

#buttonBG{
    position: fixed;
    top:10px;
    text-align: right;
    cursor: move;
    background-color: inherit;
    right: 10px;
    font-size: 10px;
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.myStyle{
    width: 100%;
    padding: 25px;
    background-color: rgb(9, 8, 7);
    color: white;
    font-size: 15px;
    box-sizing: border-box;   
}

#radioButton{
    display: flex;
    padding: 20px;
}

a:hover{
    color: crimson
}

a:visited {
    color: darkmagenta;
  }

body{
    background-image: url(../images/purplesnow.png);
    background-size: 600px 500px;
    font-family: 'Roboto', sans-serif;
}

main{
    text-indent: 5%;
    width: 80%;    
}

#neu-logo{
    max-width: 220px;
}
.About-me, .education, .work-experience, .projects{
    border: 2px dashed;
    margin-top: 10px;
    margin-bottom: 10px;
}

header a:last-of-type{
    margin-left: 20px
}

li::first-line{
    font-weight: bold;
}

.course-plan{
    text-align: left;
}

figure {
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}


figcaption {
    background-color: rosybrown;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.footer-table{
    border-spacing: 20px;
    padding-left: 500px;
    text-align: center;
}

.footer-logo{
    width: 26px;
    height: 26px;
}


.copyright{
    text-align: center;
}


