body{background-color: rgb(231, 225, 214);
     font-family: 'Roboto', sans-serif;     
}

header{
    text-align: center;
    border-bottom: 2px dashed darkslateblue;
    padding-bottom: 5px;
   
}

#job{
    font-weight: bold;
}

h1{color: #1050aa; 
   font-family: Georgia, 'Times New Roman', Times, serif; 
   size: 2.2em
}

.experience, .education{
    border: 2px dashed;
    margin-top: 10px;
    margin-bottom: 10px;
}
h2::first-letter{
    font-size: 3em;
}

a[href*= "github"]:hover
{
    color: crimson
}

a[href*= "github"]::after
{
    content: url("../images/GitHub-Mark-32px.png");
    width: 32px;
    height: 32px;
}

header a:last-of-type{
    margin-left: 20px;
}

.education .education-list > li:first-child{
    font-style: italic;
}

.skills ul{
    list-style-type: none;
}